[submodule "data/anime-lists"]
	path = data/anime-lists
	url = https://github.com/Fribb/anime-lists.git
[submodule "app/players"]
	path = app/players
	url = https://github.com/skoruppa/docchi-players.git
