[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"backports.entry-points-selectable" = "*"
flask = "~=3.1.0"
lxml = "*"
pipenv = "*"
python-dotenv = "~=1.0.1"
waitress = "~=3.0.2"
flask-compress = "~=1.17"
httpx = "*"
requests = "~=2.32.3"
tinydb = "~=4.8.2"
werkzeug = "~=3.1.3"
aiohttp = "~=3.11.11"
beautifulsoup4 = "~=4.12.3"
flask-caching = "~=2.3.0"
cloudscraper = "~=1.2.71"

[requires]
python_version = "3.12.7"
